<template lang="pug">
  
  .page-wrapper
    .skip.text ข้าม
    .promotion
      .pro-left
        img(src="/icon/1.png")
        p.text Tequila <br/> ราคา 800 ฿
        button.kuy.text.pink สั่งดิสัส

      .pro-right
        img(src="/icon/2.png")
        p.text Jameson <br/> ราคา 999 ฿
        button.kuy.text.pink สั่งดิสัส
</template>

<style lang="scss" scoped>

  .page-wrapper{
    .skip{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    }
    .promotion{
      display: flex;
      margin-top: 56px;
      height: 96px;
      .pro-left{
        width: 50%;
        height: 100%;
        padding-left: 12px;
        text-align: center;
        img{  height: 100%; }
      }
      .pro-right{
        width: 50%;
        height: 100%;
        padding-right: 12px;
        text-align: center;
        img{  height: 100%; }
      }
    }
  }

</style>