<template lang="pug">
.page-wrapper
    .container
        .content
            img(src='/icon/clbs.jpg') 
        form.go-right
            div
                input(id="username" name="username" type="username" required)
                label(for="username") username
            div 
                input(id="password" name="password" type="password" required)
                label(for="password") password
            //- a(@click="$router.push({name:'login'})") Forgot
            button.text.pink(@click="login()") Login 
        
           
           

</template>

<script>
export default {
    methods:{
        login(){
            this.$router.push({name:'test'})
        }    
    }
}

</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
}

.page-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 10%;
        .container{
            // display: flex;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            width: 30%;
            margin: 25px 25px 25px 25px;
            padding: 5% 2% 10% 2%;
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 25px 25px 25px;
                 img{
                width: 100%;
                height: 100%;
                display: flex;
                }
            }
            form.go-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                label {
                    display: flex;
                    top: 47%;
                    right: 100%;
                    width: 100%;
                    margin-right: -100%;
                    bottom: 0px;
                }
                input:focus + label, textarea:focus + label {
                    right: 0;
                    margin-right: 0;
                    width: 30%;
                }
                }
                form {
                width: 320px;
                float: left;
                margin: 20px;
                > div {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 30%;
                   
                }
                input, textarea {
                    margin-top: 10%;
                    width: 100%;
                    height: 50%;
                    background:none;
                    border: 2px solid #E5E5E5;
                    border-radius: 10px;
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    padding: 15px 60px;
                    outline: 0;
                    &:valid {
                    // Hides the label
                    background: white; 
                    }
                    &:focus {
                        border-radius: 10px;
                    border-color: #2d3e50;
                    }
                    &:focus + label {
                    background: #2d3e50;
                    border-radius: 10px;
                    color: white;
                    font-size: 70%;
                    
                    z-index: 2;
                    text-transform: uppercase;
                    //   in text lebel
                    }
                }
                label {
                    transition: // not padding
                    background 0.2s,
                    color 0.2s,
                    top 0.2s,
                    bottom 0.2s,
                    right 0.2s,
                    left 0.2s;
                    position: absolute;
                    color: #999;
                    padding: 15px 15px;
                }
                textarea {
                    display: block;
                    resize: vertical;
                }
            }
                 button{
                   justify-content: center;
                   margin-top: 10%;
                   width: 100%;
                   height: 40px;
                   background: #B9B9B9;
                   border-radius: 33px;
                   border: #FFFFFF;
               }
        }
        
}
           

</style>