<template lang="pug">
    .page-wrapper
        .form
            .content
               
                <input id="username" name="username" type="text">
                    //- <lebel for="username">username</lebel>
                <br/>
                <input id="password" name="password" type="text">
                    //- <lebel for="password">password</lebel>
                button.text.pink Login
                
</template>

<style lang="scss" scoped>
    .page-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 10%;
        .form{
            display: flex;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            width: 30%;
            margin: 25px 25px 25px 25px;
            padding: 5% 2% 10% 2%;
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 25px 25px 25px;
                img{
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
                input{
                    margin-top: 2%;
                    width: 70%;
                    height: 30%;
                    background:none;
                    border: 2px solid #E5E5E5;
                    border-radius: 10px;
                }
               button{
                   justify-content: center;
                   margin-top: 5%;
                   width: 70%;
                   height: 100px;
                   background: #B9B9B9;
                   border-radius: 33px;
                   border: #FFFFFF;
               }
              
              
            }
        }
    }

</style>