@font-face {
    font-family: "Roboto";
    src: url("~assets/Font/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url("~assets/Font/Roboto-Bold.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "Ekkamainew";
    src: url("~assets/Font/EkkamaiNew-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  

html,body{
    margin : 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    outline: none;
    &.pink {
      text-shadow: 0 0 1px #fff, 0 0 4px #fffdfd;
    }
}
